---
import "../styles/components/Testimonials.css";
import { Icon } from "astro-icon/components";

const reviews = [
  {
    name: "Carlos Méndez",
    role: "Director de Operaciones",
    company: "",
    text: "Lightman Global transformó nuestra cadena de suministro. El despacho aduanal que solía tomarnos días, ahora se resuelve en horas gracias a su equipo experto.",
  },
  {
    name: "Elena Rodríguez",
    role: "Gerente de Exportaciones",
    company: "",
    text: "La confianza es clave cuando mueves productos perecederos. Su servicio de transporte aéreo es impecable y siempre llegan a tiempo.",
  },
  {
    name: "Roberto Silva",
    role: "CEO",
    company: "",
    text: "Excelente servicio de consolidación. Han logrado reducir nuestros costos logísticos en un 25% anual desde que empezamos a trabajar juntos.",
  },
];
---

<section id="testimonials" class="testimonials">
  <div class="testimonials-container">
    <div class="testimonials-header">
      <h2>Lo que dicen nuestros clientes</h2>
      <div class="testimonials-divider"></div>
    </div>

    <div class="testimonials-grid">
      {
        reviews.map((rev) => (
          <div class="testimonial-card">
            <div class="stars">
              {[...Array(5)].map(() => (
                <Icon name="lucide:star" />
              ))}
            </div>
            <p class="testimonial-text">"{rev.text}"</p>
            <div class="testimonial-author">
              <div class="author-avatar">{rev.name.charAt(0)}</div>
              <div class="author-info">
                <h4>{rev.name}</h4>
                <p>
                  {rev.role} {rev.company}
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
